*{
	margin: 0;
	padding: 0;
	font-family: 'Nunito', sans-serif;
	text-decoration: none;
	list-style-type: none;
	box-sizing: border-box;
}
.m-container{
	background-color: #fff;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}/*====mlogos======*/
.m-logos{
	padding: 10px;
	height: 80px;
	display: flex;
}
.m-logos img{
	width: 100px;
	height: 55px;
	margin-top: 5px;

}
.m-logos input[type=text]{
	width: 35rem;
	height: 30px;
	margin-left: 4rem;
	margin-right: 2rem;
	margin-top: 20px;
	padding: 5px;
}

.m-logos button{
	margin-top: 20px;
	border: 1px solid gray;
	width: 75px;
	height: 30px;
	background-color: #fff;
}
.m-logos p{
	margin-top: 20px;
	margin-left: 8rem;
}

/*======header====*/
.m-header{
	background-color: blue;
	display: flex;
	padding: 10px;
}

.m-header ul{
	padding-left: 15rem;
}

.m-header ul li{
	display: inline-block;
	text-align: right;
	padding: 8px 15px;
}
.m-header ul li a{
	color: white;
	text-decoration: none;
}

/*======header background====*/
.header-background{
	background-color: whitesmoke;
	height: 100vh;
	padding: 10px;
	display: grid;
	grid-template-columns: 40% 50%;
}
.header-background .right{
	width: 20%;
	transform: translate(50%, 30%);
	margin-right: 2rem;
}

.header-background .left{
	width: 60%;
	transform: translate(50%, 0%);
}
.header-background img{
	height: 98vh;
	width: 500px;
	background-color: whitesmoke;
	object-fit: cover;
	border: 0;
}
.header-background p{
	color: green;
	font-size: 15px;
}
.header-background button{
	width: 100px;
	height: 30px;
	border: 1px solid black;
	background-color: black;
	color: #fff;
	margin-top: 1rem;
}

/*=====more info====*/
.more-info{
	display: grid;
	height: 90px;
	grid-template-columns: repeat(3, 1fr);
	padding-left:  2%;
	margin-top: 2%;
	background-color: blue;
	border: 1px solid #fff;
	box-shadow:inset 0px 0px 2px 2px gray;
}

.info-one{
	color: white;
	border-right: 1px solid gray;
	height: 90px;
	display: flex;
}
.icon{
	line-height: 90px;
	padding-left: 30px
}
.description{
	padding-top: 5px;
	padding-left: 10px;
}

/*======collections====*/
.collections{
	width: 78%;
	height: 500px;
	margin-left: 11%;
	padding-top: 3rem;
	display: grid;
	grid-template-columns: 58% 38%;
	grid-gap: 12px;
}
.left-collections{
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 5px;
}
.top-left-collections{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 5px;
}
.shoes{
	position: relative;
	height: 230px;
	width: 290px;
	border: 1px solid gray;
	text-align: center;
}
.center-text{
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.center-text h4{
	z-index: 1;
	border: ipx solid black;
	background-color: black;
	height: 25px;
	width: 150px;
	cursor: pointer;
}
.center-text h4 a{
	color: #fff;
	padding-left: 10px;
}

.shoes img{
	height: 230px;
	width: 290px;
	object-fit: cover;
}
.pullnecks{
	position: relative;
	height: 230px;
	width: 290px;
	border: 1px solid gray;
}
.pullnecks img{
	height: 230px;
	width: 290px;
	object-fit: cover;
}

.bottom-left-collections{
	position: relative;
	height: 230px;
	width: 585px;
	border: 1px solid gray;
}
.bottom-left-collections img{
	height: 230px;
	width: 585px;
	border: 1px solid gray;
}
.right-collections{
	position: relative;
	height: 465px;
	width: 100%;
	border: 1px solid gray;
}
.right-collections img{
	height: 465px;
	width: 100%;
	object-fit: cover;
}


/*=====fashion shoes====*/
.men-fashion{
	margin-top: 50px;
}
.men-fashion h3{
	margin-top: 70px;
	background-color: whitesmoke;
	width: 100%;
	height: 35px;
	line-height: 35px;
	text-align: center;
	font-size: 25px;
}
.all-shoes{
	padding: 20px 10px;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 10px;
}
.shoe-details{
	background-color: whitesmoke;
	height: 280px;
	width: 250px;
	border: 1px solid gray;
	cursor: pointer;
}
.shoe-details img{
	width: 250px;
	height: 210px;
	object-fit: cover;
}
.shoe-details h4{
	padding-left: 10px;
}
.shoe-details button{
	width: 150px;
	height: 33px;
	background-color: blue;
	border: 1px solid blue;
	margin-left: 10px;
}



/*=======footer======*/
.footer{
	margin-top: 10px;
	padding-top: 20px;
	margin-bottom: 10px;
	background-color: rgba(3, 3, 14, 0.72);
}
.footer .footer-top-payments{
	display: flex;
} 
.footer .footer-top-payments h4 a{
	color: orangered;
	text-align: center;
	padding-left: 25px;
}
.footer .socials ul{
	display: flex;
}

.footer .socials ul li {
	padding-left: 25px;
}
.footer .footer-top-features{
	padding-left: 25px;
}
.footer ul li a{
	color: black;
}

@media screen and (max-width: 1000px){
		.m-logos{
			font-size: 30px;
			width: 90%;
			margin-left: 20%;
		}
		.m-header{
			width: 1300px;
			margin-left:0% ;
		}

		.m-header ul li{
			padding-left: 5px;
		}
		.m-header ul li a{
			text-align: left;
			font-size: 30px;
		}
		.header-background{
			height: fit-content;
			width: 100%;
			margin-left: 1%;
		}
		.header-background .left{
			width: 10%;
		}
		.header-background img{
			height: 700px;
			width: 900px;
		}
		.more-info{
			font-size: 35px;
			width: 1300px;
		}
		.collections{
			width: 100%;
			margin-left: 20%;
		}
		.footer{
			width: 1300px;
		}
		.footer h4 a{

			font-size: 35px;
		}
		.more-info h4{
			font-size: 35px;
		}
		.more-info{
			height: 150px;
		}
		.more-info p{
			font-size: 30px;
			padding: 0px;
		}
		.shoe-details h4{
			font-size: 18px;
		}
		.men-fashion h3{
			font-size: 30px;
		}

}